* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
  }

 
  body {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	height: 100vh;
	background: linear-gradient( black, purple);
  }

  #content h1{
	color: white;
	
  }
  
  .buscar {
	position: relative;
	padding: 5px;
  }
  
  .buscar input {
	width: 0;
	height: 40px;
	padding: 0 20px;
	font-size: 18px;
	color: black;
	outline: none;
	border: 1px solid silver;
	border-radius: 30px;
	transition: all 0.6s ease;
  }
  
  .btn {
	margin: 4px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	top: 0;
	right: 0;
	position: absolute;
	background: purple;
	text-align: center;
	color: white;
	font-size: 18px;
	border-radius: 50%;
	cursor: pointer;
  }
  
  .buscar:hover input {
	width: 250px;
  }
  
  .buscar input:focus {
	width: 250px;
  }
  

button {    
	width: 140px;
	height: 40px;
	line-height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
  }
  
 button.crear-album {
	background-color: black;
    left: 50px; 
    top: 500px;
  }

  button.borrar-album {
    background-color: black;
    left: 200px;
    top: 500px;
  }
  

  button.agregar-cancion {
    background-color: black;
    left: 350px;
    top: 500px;
  }
  

  button:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
  }
  
  
