* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
  }
  
  body {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100vh;x
	background: linear-gradient( black, purple);
  }
  
  .buscar {
	position: relative;
	padding: 5px;
  }
  
  .buscar input {
	width: 0;
	height: 40px;
	padding: 0 20px;
	font-size: 18px;
	color: black;
	outline: none;
	border: 1px solid silver;
	border-radius: 30px;
	transition: all 0.6s ease;
  }
  
  .btn {
	width: 55px;
	height: 55px;
	line-height: 55px;
	top: 0;
	right: 0;
	position: absolute;
	background: purple;
	text-align: center;
	color: white;
	font-size: 18px;
	border-radius: 50%;
	cursor: pointer;
  }
  
  .buscar:hover input {
	width: 500px;
  }
  
  .buscar input:focus {
	width: 500px;
  }
  